/* Global Styles */
* { 
    box-sizing: border-box;
  }

/* Base Styles */
body {
    font-family: 'Merriweather', serif;
    background: white;
    margin: 0;
  }

.item {
    width: auto;
    text-align: center;
}

h2 {
    background: rgb(39, 45, 54);
    color: white;
    padding: 25px;
    margin: 0;
}

h3 {
    margin-top: 30px;
}

.intro {
    color: lightgray;
    padding: 0px 15px;
}

.contact {
    font-size: large;
    font-weight: bolder;
}

input:focus,
textarea:focus {
    border-color: rgb(39, 45, 54);
}

label {
    padding: 8px 8px 8px 0px;
    margin-top: 10px;
    color: lightgray;
    font-size: small;
}

input,
select {
    border-radius: 10%;
    background: rgb(230, 233, 236);
    padding: 5px;
    width: 100%;
    border: none;
    height: 50px;
}

::placeholder {
    text-align: right;
    font-size: x-small;
    font-style: italic;
    padding-right: 15px;
}

input:focus::placeholder {
    color: transparent;
}

.fieldset {
    border: none;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Styles For Larger Screens */
@media (min-width: 768px) {
}